
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Cairo+Play:wght@300;400&family=Fasthand&family=Inter:wght@200;500&family=Marck+Script&family=Merienda&family=Poltawski+Nowy:ital,wght@1,500&family=Poppins:wght@300&family=Roboto+Slab:wght@700&family=Satisfy&family=Tiro+Devanagari+Marathi:ital@1&family=Ysabeau+Infant:wght@300&display=swap');


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;

  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color:  #2d2e32;
}
